services:
  backend:
    build: ./backend
    container_name: movie_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ml_models:/app/api/ml
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    container_name: movie_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app:delegated
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  ml_models:
